[versionner]
file = ./VERSION
;up_part= patch

[file:proc_limiter.py]
enabled = true
match = line
search = ^\s*__version__\s*=.*$
replace = __version__ = '%(version)s'

[file:setup.py]
enabled = true
match = line
search = \bversion\s*=.*$
replace = version='%(version)s',
encoding = utf-8
